# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# CSV files
*.csv

# Virtual environment
venv/
ENV/
env/
*.egg-info/

# Distribution/packaging
build/
dist/
*.egg
*.egg-info/
*.manifest
*.spec

# IDE/editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Environment variable files
.env
